NODE_ENV="production or development"
PORT=3001

POSTGRES_USER=prisma
POSTGRES_PASSWORD=prisma
POSTGRES_DB=movie_watchlist
DATABASE_URL="postgresql://prisma:prisma@<database_container_name>:5432/movie_watchlist?schema=public"

JWT_ACCESS_SECRET="<openssl rand -base64 32"
JWT_REFRESH_SECRET="<openssl rand -base64 32"