# Dependencies
node_modules

# Build output
dist

# Environment variables
.env
.env.local

# Prisma generated client
src/generated/prisma

# Logs
*.log

# OS files
.DS_Store

# Claude
CLAUDE.md
/src/generated/prisma
